<h2>User info</h2>
<div>
   <!--変数は@userを使うべきだったがアプリをほとんど仕上げてしまっていたので@current_userのままにしておく-->
   <%= image_tag @current_user.get_profile_image(100,100) %>
   <table class="table">
      <tbody>
       <tr>
        <th>name</th>
        <th><%= @current_user.name %></th>
       </tr>
       <tr>
        <th>introduction</th>
        <th><%= @current_user.introduction %></th>
       </tr>
     </tbody>
   </table>
   <%= link_to edit_user_path(@current_user.id) do %>
     <i class="btn btn-outline-secondary btn-block fas fa-user-cog"></i>
   <% end %>
</div>